* {
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  width: 100%;
  background-color: Blue;
  background-position: center;
  background-size: cover;
  position: relative;
}

#JavierP {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
}
